@tailwind base;
@tailwind components;
@tailwind utilities;


@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap');

/* styles file */
@import url('./home.css');
@import url('./responsive.css');

html,
body {
    margin: 0;
}

::-webkit-scrollbar {
    width: 0px; 
  }
  
  ::-webkit-scrollbar-thumb {
    background-color: #3b82f6; /* Color of the thumb */
    border-radius: 10px; /* Rounded corners */
  }
  
  ::-webkit-scrollbar-track {
    background: #e5e7eb; /* Color of the track */
    border-radius: 10px; /* Rounded corners */
  }
  .Toastify__toast {
    background-color: #101626ba !important;
    border: 2px solid rgba(255, 255, 255, 0.889) !important;
    font-family: "Roboto Slab", serif!important;
    font-style: normal!important;
    text-transform: capitalize !important;
    border-radius: 0.75rem !important;
    --tw-backdrop-blur: blur(4px)!important;
  }