 .nav_link {
    color: #ffff;
    font-size: 17px;
    font-family: "Merriweather", serif;
    font-style: normal;
    text-transform: uppercase;
 }

 .nav_link_sm {
    color: #ffff;
    font-size: 18px;
    font-family: "Merriweather", serif;
    font-style: normal;
    text-transform: capitalize;
    word-spacing: 2px;
    /* letter-spacing: 1px; */
 }

 .btn_home {
   color: #ffff;
   font-size: 18px;
   font-family: "Merriweather", serif;
   font-style: normal;
   text-transform: capitalize;
   word-spacing: 2px;
   width: fit-content;
   /* letter-spacing: 1px; */
}
.headding{
   color: #ffff;
   font-size: 45px;
   font-family: "Merriweather", serif;
   font-style: normal;
   text-transform: capitalize;
   word-spacing: 2px;
}

.paragraph{
   color: #101626;
   font-size: 18px;
   font-family: "Merriweather", serif;
   font-style: normal;
   text-transform: capitalize;
   word-spacing: 2px;
   width: fit-content;
}


 .li_nav {
    display: flex;
    align-items: center;
 }

 .middle_hedding {
    color: #ffff;
    font-size: 19px;
    font-family: "Merriweather", serif;
    font-style: normal;
    text-transform: uppercase;
    /* letter-spacing: 1px; */
 }

 .star-animation {
   animation: moveStar 5s infinite alternate;
 }
 
 @keyframes moveStar {
   0% {
     transform: translateY(0);
   }
   50% {
     transform: translateX(40px); /* Move up */
   }
   100% {
     transform: translateX(0); /* Move back down */
   }
 }

 @keyframes helloHandAnimation {
   0% {
     transform: scale(1) rotate(0deg);
   }
   50% {
     transform: scale(1.1) rotate(10deg);
   }
   100% {
     transform: scale(1) rotate(0deg);
   }
 }
 
 .hello-hand {
   animation: helloHandAnimation 1s infinite;
 }

 